<!DOCTYPE html>
<html>
<title>TODO and Course Notes</title>
<head>
    <link rel="stylesheet" href="../src/themes/darkly.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ extensions: ["tex2jax.js"], jax: ["input/TeX","output/HTML-CSS"], tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} });
    </script>
    <!-- <script type="text/javascript" src="../src/MathJax-2.6-latest/MathJax.js"></script> -->
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <link rel="stylesheet" href="../src/highlight/styles/monokai-sublime.css">
    <script src="../src/highlight/highlight.pack.js"></script>
</head>
<div id="source-title" style="display:none;">
    # TODO and Courses
    <!-- [Return to Autumn 2016](Autumn_2016.html) -->
</div>

<body>

    <a href="https://github.com/jwt625/WPLTs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div class="container">
    	<!-- title -->
        <div id="target-title">
        </div>
        <a class="btn btn-default btn-lg btn-block" id="clock" style="font-size:50px"></a>
        <!-- reload button group -->
        <div class="btn-group">
            <a class="btn btn-default" id="btn-reload" onclick="loadAll()">Reload</a>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="btn-group-save">
                <li><a onclick="loadJSON(loadTODOCallBack)">Reload TODOs</a></li>
                <li><a onclick="loadMDButtCallBack(this)" id="c2-r2">Reload column 2</a></li>
                <!-- <li><a onclick="loadMDButtCallBack(this)" id="column-3">Reload column 3</a></li> -->
            </ul>
        </div>
        <!-- save TODOs button group -->
        <div class="btn-group">
            <a class="btn btn-primary" id="btn-save">Save TODOs</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="btn-group-save">
                <li><a onclick="saveClicked(this)">save as .json</a></li>
                <li><a onclick="saveClicked(this)">save as .js</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-success" id="btn-date">All dates</a>
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="btn-group-date">
            </ul>
        </div>
        <!-- select status button group -->
        <div class="btn-group">
            <a class="btn btn-success" id="btn-status">All status</a>
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="btn-group-status">
                <li><a onclick="selectStatusClicked(this)">All status</a></li>
                <li class="divider"></li>
                <li><a onclick="selectStatusClicked(this)">todo</a></li>
                <li><a onclick="selectStatusClicked(this)">done</a></li>
                <li><a onclick="selectStatusClicked(this)">undone</a></li>
            </ul>
        </div>
        <!-- select tags button group -->
        <div class="btn-group">
            <a class="btn btn-success" id="btn-tag">All tags</a>
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="btn-group-tag">
            </ul>
        </div>
        <a class="btn btn-default" onclick="refreshMathJax()">Refresh MathJax</a>
        <a class="btn btn-default" onclick="hideTODO(this)" id="btn-hideTODO">Hide TODO</a>
        <div class="row">
        	<!-- TODOs column -->
            <div class="col-lg-4" id="left-col">
                <div class="bs-component">
                    <div id="target-todo"></div>
                </div>
            </div>
            <!-- second column -->
            <div class="col-lg-8" id="right-col">
                <div class="row">
                    <div class="bs-component">
                        <div id="target-c2-r1"></div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="bs-component">
                        <div id="target-c2-r2"></div>
                    </div>                   
                </div>
            </div>
            <!-- third column -->
            <!-- <div class="col-lg-4">
                <div class="bs-component">
                    <dir id="target-column-3"></dir>
                </div>
            </div> -->
        </div>
    </div>
</body>
<script src="../src/jquery-3.1.1.min.js"></script>
<script src="../src/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../src/FileSaver.js-1.3.3/FileSaver.min.js"></script>
<script src="../src/Blob.js"></script>
<!-- <script src="todos.js"></script> -->
<script src="../src/showdown.min.js"></script>
<script src="../src/showdown-toc.js"></script>
<!-- including callback functions: -->
<script src="../src/callbackfuncs.js"></script>
<script>
text = document.getElementById('source-title').innerHTML;
target = document.getElementById('target-title');
var converter = new showdown.Converter({
    tasklists: true,
    smartIndentationFix: true,
    strikethrough: true,
    parseImgDimensions: true,
    tables: true,
    literalMidWordUnderscores: true,
    extensions:["showdown-toc"]
});
html = converter.makeHtml(text);
target.innerHTML = html;

//add clock
(function() {
    var clockElement = document.getElementById("clock");

    function updateClock(clock) {
        clock.innerHTML = new Date().toLocaleTimeString();
    }

    setInterval(function() {
        updateClock(clockElement);
    }, 1000);

}());

var todoDisplayConfig = [0, 0, 0];

loadAll();

// load all
function loadAll() {
    loadJSON("todos.json", loadTODOCallBack);
    loadJSON("courses.json", loadCoursesCallBack);
}
</script>
</html>
